selenium-based-llm-model/test_scripts
selenium-based-llm-model/reports
selenium-based-llm-model/logs
selenium-based-llm-model/.env
.env
myenv/
selenium-based-llm-model/tempCodeRunnerFile.py
selenium-based-llm-model/url_extraction_20250612_115256.log
autotest_package/.env
autotest_package/reports
autotest_package/test_scripts
autotest_package/logs
autotest_package/autotest/db/autotest.db
logs
node_modules/
autotest_package/output/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
 autotest_output/ 
